<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>글쓰기~~~</h1>
<form action="/insert" id="form1" name="form1" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div>이름 <input name="writer" size="50" placeholder="이름을 쓰셈" /></div>
	<div>제목 <input name="title" size="50" placeholder="제목을 쓰셈" /></div>
	<div style="width:800px;">
		내용<textarea name="content" cols="50" rows="3" placeholder="내용을 쓰셈"></textarea>
	</div>
	<div style="width:800px;">
		첨부파일<input type="file" name="file" />
	</div>
	<div style="width:700px; text-align: center;" >
		<button type="submit" id="btnSave">확인</button>
	</div>
</form>
</body>
</html>